<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../CSS/styles.css" rel="stylesheet" />
    <style>
        .navbar-nav {
            margin-left: auto;
        }
        .nav-item {
            margin-left: 10px;
        }
    </style>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="#!">Open Help Desk</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="btn btn-secondary" href="../account/login.jsp">Login</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary" href="../account/register.jsp">Create Account</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Add your main content here -->

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../js/scripts.js"></script>
</body>
</html>