<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>HelpDeskOOP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>

  <error-page>
    <error-code>404</error-code>
    <location>/errors/404.jsp</location>
  </error-page>

  <resource-ref>
    <description>H2 Database</description>
    <res-ref-name>jdbc/helpdeskDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <servlet>
    <servlet-name>DBConnectionTestServlet</servlet-name>
    <servlet-class>project.core.servlet.DBConnectionTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBConnectionTestServlet</servlet-name>
    <url-pattern>/DBConnectionTestServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UserControllerServlet</servlet-name>
    <servlet-class>project.core.servlet.UserControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserControllerServlet</servlet-name>
    <url-pattern>/UserControllerServlet</url-pattern>
  </servlet-mapping>

    <servlet>
        <servlet-name>TicketController</servlet-name>
        <servlet-class>project.features.tickets.controllers.TicketController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TicketController</servlet-name>
        <url-pattern>/TicketController</url-pattern>
    </servlet-mapping>

</web-app>
